#### i) Data container: List
The list is the primary data structure used in Python. It holds a sequence of data elements. 


```
list = []
list.append(), list.remove(), list.count(), list.reverse(), list.sort()
```

In [1]:
same_type_list = [1, 3, 4, 89, 23, 43, 90] # lists can be heterogeneous
diff_type_list = [1, 3, "hello", 4.9, "c"] 
print(same_type_list)
print(len(diff_type_list))

[1, 3, 4, 89, 23, 43, 90]
5

In [2]:
same_type_list[0] = "I'm new"
print(same_type_list)

["I'm new", 3, 4, 89, 23, 43, 90]

In [3]:
print(same_type_list[8])

IndexError: list index out of range

In [9]:
same_type_list = [1, 3, 4, 89, 23, 43, 90]
print(max(same_type_list))
print(min(same_type_list))
print(sorted((same_type_list), reverse=True))

90
1
[90, 89, 43, 23, 4, 3, 1]

In [17]:
courses_list = []  # add items in the list
print(courses_list)

[]

In [18]:
courses_list.append("Artificial Intelligence")
courses_list.append("Software Engineering")
courses_list.append("Computer Networks")
print(courses_list, "Total courses: "+str(len(courses_list)))

['Artificial Intelligence', 'Software Engineering', 'Computer Networks'] Total courses: 3

In [19]:
courses_list.remove("Computer Networks") # remove items from the list
print(courses_list, "Total courses: "+str(len(courses_list)))

['Artificial Intelligence', 'Software Engineering'] Total courses: 2

In [20]:
comb_list = same_type_list + diff_type_list + courses_list # combine three lists
print(comb_list)

[1, 3, 4, 89, 23, 43, 90, 1, 3, 'hello', 4.9, 'c', 'Artificial Intelligence', 'Software Engineering']

In [21]:
del comb_list

In [22]:
print(comb_list)

NameError: name 'comb_list' is not defined

**Slicing lists**

In [23]:
some_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(some_list[5:]) # Get a slice from index 5 to last index

[6, 7, 8, 9, 10]

In [24]:
print(some_list[:3]) # Get a slice from start to index 2

[1, 2, 3]

In [27]:
print(some_list[3:10:12]) # Get a slice from index 3 to 9 with step 2

[4]

**List comprehension**
You can construct a list in a single line of code using list comprehension. 
```
[expr for val in collection]
[expr for val in collection if cond]
```

In [28]:
nums = [10, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[100, 1, 4, 9, 16]

In [30]:
## The simple form of above code using list comprehension
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)   # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [31]:
## List comprehension can also contain conditions
# new_list = [expression for_loop_one_or_more condtions]
res = [x for x in nums if x % 2 == 0 and x>0]
print(res)

[2, 4]

#### ii)  Data container: Tuple
A tuple is a collection which is ordered and unchangeable. The items have a defined order, and that order will not change. Once a tuple is created, you cannot change, add and remove its values.

```
tuple = (1, 2, 3)
```

In [32]:
same_type_tuple = (1, 10, 7) # tuples can be heterogeneous
diff_type_tuple = (1, 2, "foo") 

print(same_type_tuple[0])
print(diff_type_tuple[2])

1
foo

In [33]:
same_type_tuple[0] = 3

TypeError: 'tuple' object does not support item assignment

#### iii)  Data container: Dictionaries
A dictionary consists of a collection of key-value pairs. Dictionary elements are accessed via keys.
```
dict = {key:value}
my_dict = {'x':5, 'y':10}
```

In [43]:
students_dict = {"student1": "Ali", 
                 "student2": "Ahmed", 
                 "student3": "Nadia"}

print(students_dict["student1"]) # access elements using key values
print(students_dict.get("student4"))
print(students_dict.get("student3", "student does not exist")) 
print(students_dict)

Ali
None
Nadia
{'student1': 'Ali', 'student2': 'Ahmed', 'student3': 'Nadia'}

In [41]:
students_dict = {"0": "Ali", 
                 1: "Ahmed", 
                 2: "Nadia"}

In [42]:
print(students_dict["0"])

Ali

In [44]:
students_dict["student1"] = "Hassan" # assig new element to student
print(students_dict)

for x, y in students_dict.items(): 
    print("key and value:",x,y)

{'student1': 'Hassan', 'student2': 'Ahmed', 'student3': 'Nadia'}
key and value: student1 Hassan
key and value: student2 Ahmed
key and value: student3 Nadia

### iv) Data container: Sets
Group of unique elements. A set is a collection which is unordered, unchangeable*, and unindexed. Set items are unchangeable, but you can remove items and add new items.

In [50]:
my_set = {"obj1", "obj2", "obj3"}
print(my_set)

{'obj2', 'obj1', 'obj3'}

Add value to a set

In [51]:
my_set.add("obj4")
print(my_set)

{'obj2', 'obj4', 'obj1', 'obj3'}

Remove value to a set

In [52]:
my_set.remove("obj1")
print(my_set)

{'obj2', 'obj4', 'obj3'}

Add dublicate value to a set

In [53]:
my_set.add("obj4")
print(my_set)

{'obj2', 'obj4', 'obj3'}

Access element of a set

In [54]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [55]:
print(list(my_set)[0])

obj2

Iterate through a set

In [56]:
for i in my_set:
  print(i)

obj2
obj4
obj3